@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 5% 10%;
 
    --card: 240 5% 100%;
    --card-foreground: 240 5% 10%;
 
    --popover: 240 5% 100%;
    --popover-foreground: 240 5% 10%;
 
    --primary: 158 82% 22%; /* Starbucks Green */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 220 25% 25%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 45%;
 
    --accent: 240 5% 92%;
    --accent-foreground: 240 5% 9%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 158 82% 22%;
 
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 225 10% 12%;
    --foreground: 0 0% 98%;
 
    --card: 225 10% 17%;
    --card-foreground: 0 0% 98%;
 
    --popover: 225 10% 12%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 158 60% 50%;
    --primary-foreground: 0 0% 10%;
 
    --secondary: 220 25% 25%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 225 10% 17%;
    --muted-foreground: 0 0% 64%;
 
    --accent: 225 10% 22%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 225 10% 22%;
    --input: 225 10% 22%;
    --ring: 158 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
