@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 96%;
    --foreground: 220 25% 10%;
 
    --card: 0 0% 100%;
    --card-foreground: 220 25% 10%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 220 25% 10%;
 
    --primary: 220 25% 25%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 220 25% 25%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 92.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 220 25% 25%;
 
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 220 25% 10%;
    --foreground: 0 0% 98%;
 
    --card: 220 25% 15%;
    --card-foreground: 0 0% 98%;
 
    --popover: 220 25% 10%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 80%;
    --primary-foreground: 0 0% 10%;
 
    --secondary: 158 15% 15%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 220 25% 15%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 220 25% 20%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 220 25% 20%;
    --input: 220 25% 20%;
    --ring: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
